{% extends 'base.html' %}
{% block title %}Grading Periods{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">Lessons Library</h1>
    <div class="row">
        {% for value, label in periods %}
        <div class="col-md-3 mb-4">
            <div class="card h-100 text-center border-primary">
                <div class="card-body">
                    <h3 class="card-title">{{ label }}</h3>
                </div>
                <div class="card-footer">
                    <a href="{% url 'lessons:lesson_list_by_period' value %}" class="btn btn-primary btn-sm">View Lessons</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}